<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-2 mb-4">
      <div class="card text-center h-100 text-dark bg-light">
        <div class="card-body"><%= link_to (image_tag post.image.url, style: 'width:100%;'), post %></div>
        <div class="card-footer">
          <div class="text-link text-wrap font-weight-bold"><%= link_to post.title, post, style: 'color:black;' %></div>
        </div>
        <div class="card-footer">
        <%= post.user.name if post.user %>
      </div>
        <% if post.user == current_user %>
          <div class="card-footer">
            <%= link_to 'Edytuj', edit_post_path(post) %>
            <%= link_to 'Usuń', post, method: :delete, data: { confirm: 'Czy jesteś pewien?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>