<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h4 class="card-title"><%= @post.title %></h4>
      </div>
      <div class="col-sm-6 text-right">
        <% if @post.user == current_user %>
          <a href="<%= edit_post_path(@post) %>" class="btn btn-primary" role="button" style="width:100px">Edytuj</a>
        <% end %>
        <a href="<%= posts_path %>" class="btn btn-primary" role="button" style="width:100px">Powrót</a>
      </div>


    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
<p>
  <%= image_tag @post.image.url(:medium) %>
</p>
      </div>
      <div class="col-sm-1"></div>
        <div class="col-sm-9">
  <strong>Opis ogłoszenia:</strong>
          <div class="card">
            <div class="card-body" style="height: 17rem;">
              <%= @post.description %>
        </div>
        </div>
      </div>


  </div>
  </div>
  <div class="card-footer">
    <strong><%= @post.user.name if @post.user %></strong>
    (<%= @post.user.email if @post.user %>)
  </div>
</div>