<div class="card">
  <div class="card-header"><h4 class="card-title"><%= @post.title %></h4></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
<p>
  <%= image_tag @post.image.url(:medium) %>
</p>
      </div>
        <div class="col-sm-10">
  <strong>Opis ogłoszenia:</strong>
          <div class="card">
            <div class="card-body">
          <%= @post.description %>
        </div>
        </div>
      </div>


  </div>
  </div>
  <div class="card-footer">
    <% if @post.user == current_user %>
    <%= link_to 'Edytuj', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'Wróc', posts_path %></div>
</div>